# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/
out/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# PowerShell
*.psd1.backup

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db
